

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}



#inscreveId {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px; 
    padding: 20px;
    background-color: #B4C388;
    border: 4px; 
}

#inscreveId h1 {
    margin: 0;
    font-size: 24px;
    color: #ffffff;
}

form {
    width: 300px; 
    padding: 20px;
    background-color: #D9D9D9;
}

form fieldset {
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
}

form h1 {
    font-size: 18px;
    margin: 0;
}
#google{
    background-color: #52C85A;
    border-radius: 14px;
    color: #D9D9D9;
}
#google img {
    width: 40px; 
    height: 30px; 
    margin-right: 70px; 

}
#facebook{
    background-color: #174CA8;
    border-radius: 14px;
    color: #D9D9D9;
}
#facebook img{
    width: 40px; 
    height: 30px; 
    margin-right: 70px; 

}

form a {
    text-decoration:solid;
    color: white;
}

#outra {
    font-size: 16px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: #ffffff;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}
#checkbox1 {
  display: flex;
  flex-direction: row;

  color: black;

}
#checkbox2 {
    display: flex;
    flex-direction: row;
  
    color: black;
}



#botaoCriar {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#botaoCriar a {
    color: white;
    text-decoration: none;
<<<<<<< HEAD
}
=======
}
>>>>>>> main
