main {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

form input[type="text"], form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

label {
    margin-bottom: .2rem;
    position: relative;
  }

label:not(:first-of-type){
    margin-top: 1rem;
}

.postagem {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.titulo-postagem {
    color: #333;
    margin-bottom: 10px;
}

.conteudo-postagem, .conteudo-resposta {
    color: #666;
    line-height: 1.6;
}

.info-postagem, .info-resposta {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    color: #999;
    margin-top: 10px;
}

.resposta {
    margin-top: 20px;
    padding: 10px;
    border-left: 2px solid #ccc;
}

.helper-text {
    display: none;
    font-size: .8rem;
    color: darkred;
  }

/* ---------- Estilos dinâmicos ---------- */

  input.error {
    border: solid 5px #992020;
    background-color: #CCBBBB;
    color: #662020;
  }
  
  input.correct {
    background-color: #BBCCBB;
    border: solid 2px #206620;
    color: #206620;
  }
  
  textarea.error {
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
  }
  
  textarea.correct {
    background-color: #BBCCBB;
    border: solid 2px #206620;
    color: #206620;
  }

  .visible {
    display: block;
  }